<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_imagen1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_imagen1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".CrearCarpeta"
            android:exported="false" />
        <activity
            android:name=".listaIdeas"
            android:exported="false" />
        <activity
            android:name=".SelectAddIdea"
            android:exported="false" />
        <activity
            android:name=".CrearIdea"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GestorIdeas" />
        <activity android:name=".verIdea" />
        <activity android:name=".Filtrar" />
        <activity android:name=".editarIdea" />
        <activity android:name=".DeleteFolder"/>
        <activity android:name=".SelectDeleteIdeas"/>
    </application>

</manifest>